/* reset */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}


header {
    background-color: #ffffff;
    padding: 20px;
}

.navigazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header ul {
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    padding: 5px 10px;
    background-color: #0061fe;
    color: #ffffff;
}

img {
    max-width: 100%;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

#jumbotron {
    background-color: #b4d0e6;
    margin-bottom: 150px;
}

#jumbotron .jumbotronbox {
    display: flex;
    
}

#jumbotron .jumbotronleft {
    width: 30%;
}

#jumbotron .jumbotronright {
    width: 70%;
}

#jumbotron .container {
    position: relative;
    top: 100px
}


hr {
    margin-top: 130px;
}


.grill {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    
   

}

.row {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.column {
    height: 950px;
    border: 2px solid black;
    width: calc((100% - 40px) / 3);
}

.secondtitle {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
}

span {
    margin-right: 45px;
    font-size: 12px;
    margin-bottom: 50px;
   
    
}

.row2 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    width: 100%;
    padding-top: 50px;
    
}

.column2 {
    height: 220px;
    border: 2px solid black;
    width: 1050px;
}

.row3 {
    display: flex;
    flex-direction: row;
    height: 40px;
    border-bottom: 2px solid black;
    width: 100%;
    

}

.container2 {
    height: 410px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    background-color: aqua;
    border: 1px solid black;
    margin-top: 100px;
}

.box3 {
    width: 800px;
    background-color: chartreuse;
}

.box4 {
    width: 400px;
    background-color: chocolate;
}

.grill2 {
    width: 1000px;
    margin: 0 auto;
}

.riga {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.col {
    height: 450px;
    width: calc((100% - 80px) / 3);
    
    border: 2px solid black;
}

.container3 {
    background-color: aqua;
    height: 310px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;

}

h2 {
    padding-top: 110px;
}

h5 {
    padding-top: 80px;
}

footer {
    background-color: black;
    height: 450px;
}

footer li {
    list-style-type: none;
}


footer .list {
    height: 450px;
    width: 100%;
   display: flex;
}

.tab {
    width: 300px;
    flex-direction: column;
    border: 2px solid white;
    color: white;
    margin-top: 110px;
    
}

.bannerfooter {
    height: 120px;
    background-color: black;

    
}


.finito {
    height: 120px;
    width: 120px;
    border-top: 1px solid wheat;
    padding: 55px;
    padding-left: 0;
    color: white;
}