/* reset */

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}


header {
    background-color: #ffffff;
    padding: 20px;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
}

.navigazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header ul {
    align-items: center;
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
}

header .btn {
    padding: 5px 10px;
}

.btn {
    padding: 15px;
    background-color: #0061fe;
    color: #ffffff;
    text-decoration: none;
}

.btn:hover {
    filter: brightness(1.4);
}

.button {
    margin-top: 35px;
}

.text {
    margin-top: 35px;
}

.arrow {
    margin-top: 70px;
    font-size: 40px;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

#jumbotron {
    background-color: #b4d0e6;
    margin-bottom: 150px;
}

#jumbotron .jumbotronbox {
    display: flex;
    
}

#jumbotron .jumbotronleft {
    width: 30%;
}

#jumbotron .jumbotronright {
    width: 70%;
}

#jumbotron .container {
    position: relative;
    top: 100px
}

h1 {
    margin-bottom: 70px;
    font-size: 80px;
}

hr {
    margin-top: 130px;
}


.grill {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    
}

.invoice {
    padding-bottom: 70px;
}

.row {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.column {
    border: 2px solid black;
    width: calc((100% - 40px) / 3);
}

.secondtitle {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
}

span {
    margin-right: 45px;
    font-size: 12px;
    margin-bottom: 50px;
    font-size: 15px;
}

.circle {
    height: 25px;
    width: 25px;;
    display: inline-block;
    border-radius: 50px;
    border: 6px solid #0061fe;
}

.circlegray {
    height: 25px;
    width: 25px;;
    display: inline-block;
    border-radius: 50px;
    border: 2px solid gray

}

.icon {
    padding: 10px 40px;
    text-align: center;
    flex-direction: row;
    border-bottom: 2px solid black;;
}

h3 {
    padding-left: 30px;
    padding-top: 40px;
}

.column h5 {
    padding-left: 30px; 
    padding-top: 30px;
}
 .column .month {
    color: grey;
    font-size: 13px;
    padding-top: 10px;
    padding-left: 30px;
}

.list {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

main li {
    padding-bottom: 20px;
    font-size: 15px;
}

.column > .button {
    text-align: center;
    padding-top: 30px;

}

.column  .btn {
    padding-left: 35px;
    padding-right: 35px;
}

.buy {
    padding-top: 40px;
    padding-left: 30px;
}

.border {
    display: inline-block;
    height: 70px;
    border-bottom: 2px solid grey;
}

#contact {
    padding-left: 35px;
    padding-right: 35px;
}

.check i {
    color: green;
}

.check li:first-child {
    font-size: 13px;
    font-weight: bold;
}

.column2 {
    /* height: 220px; */
    border: 2px solid black;
    width: 1050px;
}

h5 {
    padding: 30px 30px;
}

p {
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 25px;
}

.container2 {
    height: 410px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    background-color: aqua;
    border: 1px solid black;
    margin-top: 100px;
}

.box3 {
    width: 800px;
    background-color: chartreuse;
}

.box4 {
    width: 400px;
    background-color: chocolate;
}

.grill2 {
    width: 1000px;
    margin: 0 auto;
}

.riga {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.col {
    height: 450px;
    width: calc((100% - 80px) / 3);
    
    border: 2px solid black;
}

.container3 {
    background-color: aqua;
    height: 310px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;

}

h2 {
    padding-top: 110px;
}

.container3 h5 {
    padding-top: 80px;
}

footer {
    background-color: black;
    height: 450px;
}

footer li {
    list-style-type: none;
}


footer .list {
    height: 450px;
    width: 100%;
   display: flex;
}

.tab {
    width: 300px;
    flex-direction: column;
    /* border: 2px solid white; */
    color: white;
    margin-top: 110px;
    
}

.bannerfooter {
    height: 120px;
    background-color: black;

    
}


.finito {
    height: 120px;
    width: 120px;
    border-top: 1px solid wheat;
    padding: 55px;
    padding-left: 0;
    color: white;
}